<p id="notice"><%= notice %></p>

<h1>Investments</h1>
<%= form_tag(investments_path, method: :get, class: 'form-inline') do %>
  <%= text_field_tag :search %>
<i class="fa fa-search" aria-hidden="true"><%= submit_tag %></i>
<% end %>
<hr>
<table class="table table-bordered table-striped">
  <thead class="thread-inverse">
    <tr>
      <th> <%= sortable "ticker"%></th>
      <th> <%= sortable "name"%>
      <th> <%= sortable "price"%></th>
      <th> <%= sortable "yield"%></th>
      <th> <%= sortable "mer"%></th>
      <th> <%= sortable "risk_category"%></th>
      <th> <%= sortable "objective"%></th>
      <th> <%= sortable "distribution"%></th>
      <th> <%= sortable "style"%></th>
      <th  colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investments.each do |investment| %>
      <tr>
        <td><%= investment.ticker %></td>
        <td><%= investment.name %></td>
        <td><%= number_to_currency(investment.price)%></td>
        <td><%= number_to_percentage(investment.yield)%></td>
        <td><%= number_to_percentage(investment.mer) %></td>
        <td><%= investment.risk_category %></td>
        <td><%= investment.objective %></td>
        <td><%= investment.distribution %></td>
        <td><%= investment.style %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', new_investment_path %>
