<div class="card card-inverse">
  <div class="card-header" style="background-color: #084B85; border-color: #084B85; color: white;"><h2>Security overview</h2></div>
  <div class="card-body">
    <%= @investment.ticker %>
    <%= @investment.name %>
    <%= @investment.price %>
    <%= @investment.yield %>
    <%= @investment.mer %>
    <%= @investment.risk_category %>
    <%= @investment.objective %>
    <%= @investment.distribution %>
    <%= @investment.style %>
  </div>
  <div class="card-footer" style="background-color: #084B85; border-color: #084B85; color: white;">
  <%= link_to 'Edit', edit_investment_path(@investment) %> |
  <%= link_to 'Back', investments_path %>
  <div>
</div>
