<%= form_with(model: user_account, local: true) do |form| %>
  <% if user_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

      <ul>
      <% user_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :goal %>
    <%= form.text_field :goal, id: :user_account_goal %>
  </div>
  <% Account.all.each do |a| %>
    <%= form.radio_button :account, a.id %>
    <%= form.label :account, a.name %>
  <% end %>
  <div class="field">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, id: :user_account_account_id %>
  </div>

  <div class="field">
    <%= form.label :annual_income %>
    <%= form.text_field :annual_income, id: :user_account_annual_income %>
  </div>

  <div class="field">
    <%= form.label :fin_assets %>
    <%= form.text_field :fin_assets, id: :user_account_fin_assets %>
  </div>

  <div class="field">
    <%= form.label :non_fin_assets %>
    <%= form.text_field :non_fin_assets, id: :user_account_non_fin_assets %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
