<%= form_with(model: user_account, local: true) do |form| %>
  <% if user_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_account.errors.count, "error") %> prohibited this user_account from being saved:</h2>

      <ul>
      <% user_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="fieldset">
  <div class="field">
    <%= form.label :goal %>
      <div class="btn-group-lg d-flex" data-toggle="buttons">  
      <div class="col-12">  
      <div class="row ws-group">
      <div class="btn card goals col-3"> <%= form.radio_button :goal,  "Build Wealth" %> <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
 <div>Build Wealth</div> </div>
      <div class="btn card goals col-3"> <%= form.radio_button :goal, "Save for retirement" %> Save for retirement </div>
      <div class="btn card goals col-3"> <%= form.radio_button  :goal, "Generate income" %>  Generate Income </div>
      </div>
      <div class="row ws-group mt-5">
      <div class="btn card goals col-3"> <%= form.radio_button :goal, "Save for education" %> <i class="fa fa-graduation-cap fa-3x" aria-hidden="true"></i>
Save for education </div>
      <div class="btn card goals col-3"> <%= form.radio_button :goal, "Save for the sake of saving" %> <i class="fa fa-usd fa-3x" aria-hidden="true"></i>
Save for the sake of saving </div>
      <div class="btn card goals col-3"> <%= form.radio_button :goal, "Save for something specific" %><i class="fa fa-home fa-3x" aria-hidden="true"></i>

 Save for something specific </div>
      </div>
      </div>
  </div>
  <div class="field">
    <%= form.label "Financial Goal" %>
    <%= form.number_field :financial_goal, id: :user_account_financial_goal %>
  </div>
  </div>
  </div>
  <div class=fieldset>
    <% Account.all.each do |a| %>
    <div class="field">
      <label class="btn btn-primary"> <%= form.radio_button :account_id, a.id %><%= form.label :account, a.name %>
    </label>
    </div>
    <% end %>
  </div>
  <div class="field">
    <%= form.label "Annual Income" %>
    <%= form.number_field :annual_income, id: :user_account_annual_income %>
  </div>

  <div class="field">
    <%= form.label 'Financial Assets' %>
    <%= form.number_field :fin_assets, id: :user_account_fin_assets %>
  </div>

  <div class="field">
    <%= form.label "Non-Financial Assets" %>
    <%= form.number_field :non_fin_assets, id: :user_account_non_fin_assets %>
  </div>

  <div class="field">
    <%= form.label "Liabilities"%>
    <%= form.number_field :liabilities, id: :user_account_liabilities %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
