<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :date_of_birth, as: :string, :input_html => { value: Date.today - 18.years, class: 'datepicker '} %>
    <%= f.input :email, autofocus: true, placeholder: 'billgates@microsoft.com'  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.input :password, autocomplete: "off", placeholder: 'Password' %>
    <%= f.input :password_confirmation, autocomplete: "off", placeholder: 'Password Confirmation' %>
  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary btn-raised' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
