<%= simple_form_for(@portfolio, local: true) do |form| %>
    <%= form.input :name %>
    <%= form.input :cad_equity %>
    <%= form.input :us_equity %>
    <%= form.input :int_equity %>
    <%= form.input :emerging_equity %>
    <%= form.input :alternatives %>
    <%= form.input :cad_fixed_income %>
    <%= form.input :int_fixed_income %>
    <%= form.input :cash %>
    <%= form.association :investments, input_html: { class: 'chosen-select' } %>
    <%= form.submit class: 'btn btn-primary'%>
  </div>
<% end %>
