<p id="notice"><%= notice %></p>
<%= @portfolio.name %>
<%= @portfolio.cad_equity %>
<%= @portfolio.int_equity %>
<%= @portfolio.emerging_equity %>
<%= @portfolio.alternatives %>
<%= @portfolio.cad_fixed_income %>
<%= @portfolio.int_fixed_income %>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
