<div class="container mt-3">
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/user_dashboard">Your Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/deposits">Make a Deposit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About <%= @user_account.portfolio.name %> portfolio</a>
  </li>
</ul>
<div class="col-4">
<% if @user_account.init_investment %>
  <%= simple_form_for @user_account do |form| %>
    <%= form.input :init_investment, label: "Deposit" %>
    <%= form.submit "Add funds", class: "btn btn-primary btn-raised" %>
  <% end %>
<% end %>
</div>
</div>