<div class="container mt-3">
<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/user_dashboard">Your Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/deposits">Make a Deposit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About <%= @user_account.portfolio.name %> portfolio</a>
  </li>
</ul>
<table class="table table-bordered table-striped">
<thead>
    <tr>
        <th> Account # </th>
        <th> Accounts </th>
        <th> Book Value </th>
        <th> Current Value </th>
        <th> Returns </th>
        <th> Currency </th>
    </tr>
</thead>
<tbody>
    <tr>
        <td><%= "403604#{@user_account.account.id}" %></td>
        <td><%= @user_account.account.name %></td>
        <td><%= number_to_currency(@user_account.init_investment) %></td>
        <% if @user_account.init_investment > 0 %>
            <td><%= number_to_currency(@user_account.init_investment * 1.12059) %></td>
            <td style="color:green;"><strong><%= number_to_percentage(12.059, precision: 2) %></strong></td>
        <% else %>
            <td><%= number_to_currency(@user_account.init_investment * 1.12059) %></td>
            <td><%= number_to_percentage(0, precision: 2) %></td>
        <% end %>
        <td>CAD</td>
    </tr>
</tbody>
</table>
<section class="pt-3 mb-4">
<h3>Assigned Portfolio: <%= @user_account.portfolio.name %></h3>
<div class="row">
    <div class="col-6 border">
        <h4 class="pt-5">Your Portfolio Returns</h4>
        <% if @user_account.init_investment > 0 %>
        <%= line_chart({30.days.ago => 1000, 15.day.ago => 1050.29, Time.now => 1120.59}) %>
        <% else %>
        <%= line_chart({30.day.ago => 0, 15.day.ago=>0, Time.now => 0}) %>
        <p class="pl-4 pt-3">*If you made a deposit to your account please give it 3 business days to show up.</p>
        <% end %>
    </div>
    <div class="col-6 pt-2 border">
       <div class="d-flex justify-space-between row">
            <div class="col-8">Canadian Equity:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.cad_equity)%></div>
       </div>
       <div class="d-flex justify-space-between row">
            <div class="col-8">US equity:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.us_equity)%></div>

       </div>
       <div class="d-flex justify-space-between row">
            <div class="col-8">International Equity:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.int_equity)%></div>
       </div>
       <div class="d-flex justify-space-between row">
            <div class="col-8">Emerging Equity:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.emerging_equity)%></div>
       </div>
       <div class="d-flex justify-space-between row">
            <div class="col-8">Alternative:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.alternatives)%></div>
       </div>
       <div class="d-flex justify-space-between row">
            <div class="col-8">Canadian Fixed Income:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.cad_fixed_income)%></div>
       </div>
       <div class="d-flex justify-space-between row">
            <div class="col-8">International Fixed Income:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.int_fixed_income)%></div>
       </div>
        <div class="d-flex justify-space-between row">
            <div class="col-8">Cash:</div>
            <div class="col-4 d-flex justify-content-end"><%= number_to_percentage(@user_account.portfolio.cash)%></div>
       </div>
        <div class="pt-2 mb-4"><%= pie_chart [["Canadian Equity",@user_account.portfolio.cad_equity], 
                                              ["US Equity",@user_account.portfolio.us_equity], 
                                              ["International Equity",@user_account.portfolio.int_equity], 
                                              ["Emerging Equity",@user_account.portfolio.emerging_equity], 
                                              ["Alternatives",@user_account.portfolio.alternatives], 
                                              ["Canadian Fixed Income",@user_account.portfolio.cad_fixed_income], 
                                              ["International Fixed Income",@user_account.portfolio.int_fixed_income], 
                                              ["Cash",@user_account.portfolio.cash]],library: {legend: {position: "left"}}%></div>
       
    </div>
</div>
</section>